{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1 mt-5">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <div class="col-2 offset-md-3 col-md-6 navbar__search static d-none d-md-block">
                    {% if SEARCH_IS_ENABLED %}
                      <div class="d-md-none mobile-search-icon">
                        <svg data-src="{% static "images/search.svg" %}" width="30" height="30"/>
                      </div>
                      <form class="form-inline search-form" action="{% url "search:search" %}">
                        <div class="mobile-close-search d-md-none">
                          <svg data-src="{% static "images/close.svg" %}" width="30" height="30"/>
                        </div>
                        <input class="form-control" type="text" name="q"
                              value="{% if query %}{{ query }}{% endif %}"
                              placeholder="{% trans "Search for product" %}"
                              autocomplete="off"
                              required>
                        <button class="btn btn-primary mt-0" type="submit">
                          {% trans "Search" %} <svg data-src="{% static "images/search.svg" %}" width="18" height="18"/>
                        </button>
                      </form>
                    {% endif %}
                  </div>
							</div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
